*{
	color: rgb(0,0,0);
    border: none;
    font-family: century gothic;
}
QFrame#frame{
    background-color:qlineargradient(spread:pad, x1:0.5, y1:0.00568182, x2:0.5, y2:0.994318, stop:0.58011 rgba(0, 0, 0, 255), stop:1 rgba(0, 95, 255, 255));
}
QToolButton#toolBtn{
    background:#2d89ef;
    border-radius:15px;
}

QLabel{
    color:white;
    font-weight:bold;
}

QLineEdit{
    background:transparent;
    border:none;
    border-bottom:1px solid white;
    color:white;
}

QPushButton{
    padding: 7px;
    background:#2d89ef;
    border-radius:15px;
    color:white;
    font-weight:bold;
}

QPushButton:hover{
    background:#2b5797;
    border-radius:15px;
    color:white;
    font-weight:bold;
}
QPushButton#pushButton_3{
    background:None;
    color:rgb(0,0,178);
}
QPushButton#pushButton_3:hover{
    background:rgba(184, 255, 250,0.1);
    color:rgb(0,0,255);
}
QPushButton#pushButton_3:pressed{
    background:rgba(184, 255, 250,0.3);
    color:rgb(0,0,115);
}

QToolButton{
    background-color: rgba(184, 255, 250,0.2);
    border-radius:25px;
}
QToolButton:hover{
    border-radius:25px;
    background-color: rgba(184, 255, 250,0.3);
}
QToolButton:pressed{
	border-radius:25px;
	background-color: rgba(184, 255, 250,0.6);
} 
