*{
	color:rgb(0,0,0);
	border:none;
}
QFrame#frame{
	background-color: qlineargradient(spread:pad, x1:0.006, y1:0, x2:0.955, y2:1, stop:0 rgba(26, 255, 250, 255), stop:1 rgba(255, 84, 53, 255));
}
QFrame#frame_2{
	background-color: qlineargradient(spread:pad, x1:0.00552486, y1:0.034, x2:0.922, y2:0.880318, stop:0.353591 rgba(118, 255, 255, 255), stop:1 rgba(255, 255, 255, 0));
}
QFrame#frame_10{background-color: rgba(45,45,45,100);}
QWidget,QLabel#label{
	border:None;
	background-color: transparent;
}

QTabWidget::pane { /* The tab widget frame */
    border-top: None;
}

QTabWidget::tab-bar {
    alignment: center;
}
QLabel,QRadioButton,QPushButton{
    color: rgb(0,0,0);
}
/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    border: 2px solid #C4C4C3;
   /*border-bottom-color: #C2C7CB; /* same as the pane color */
    color: rgb(14, 95, 95);
    font: italic 12pt "Sans Serif";
    margin-right: 53;
    margin-left: 53;
    border:None;
    min-width: 8ex;
    padding: 2px;
}
QTabBar::tab:hover {
	border-bottom: 3px solid rgb(33, 163, 154);
}
QTabBar::tab:selected{
	border-bottom: 3px solid rgb(5, 101, 255);
}

QPushButton,QLineEdit{
	border-radius: 9px;
	background-color: rgba(184, 255, 250,0.3);
	padding:7px;
}
QPushButton:hover{
	background-color: rgba(184, 255, 250,0.6);
	padding:4px;
}
QPushButton:pressed{
	background-color: rgba(184, 255, 250,0.2);
	padding:3px;
}
QRadioButton{
    background-color: rgba(184, 255, 250,0.3);
    border-radius:9px;
    padding:4px;
    margin-right: 9;
}
QRadioButton:hover{
    background-color: rgba(184, 255, 250,0.6);
    border-radius:9px;
    padding:5px;
    margin-right: 9;
}
QLabel{
	background-color: rgba(9, 123, 125, 30);
	padding:1px;
	border-radius:12px;
}
QTableWidget {
	selection-background-color:rgb(66,40,100);
}
QTableWidget::section{
	Background-color:rgb(190,1,1);
	border-radius:14px;
}
QHeaderView::section{
	border:1px solid rgba(86, 86, 86, 155);
	padding:2px;
	margin-right: 3;
	margin-left: 5;
	Background-color:rgb(55, 116, 111);
}
QScrollBar:horizontal{
    border: 2px solid grey;
    background: #32CC99;
    height: 15px;
    margin: 0px 20px 0 20px;
}        QScrollBar::handle:horizontal {
    background: white;
    min-width: 20px;
}        QScrollBar::add-line:horizontal {
    border: 2px solid grey;
    background: #32CC99;
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: 2px solid grey;
    background: #32CC99;
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar:vertical {
    border: 2px solid grey;
    background: #32CC99;
    width: 15px;
    margin: 22px 0 22px 0;
}
QScrollBar::handle:vertical {
    background: white;
    min-height: 20px;
}
QScrollBar::add-line:vertical {
    border: 2px solid grey;
    background: #32CC99;
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 2px solid grey;
    background: #32CC99;
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 2px solid grey;
    width: 3px;
    height: 3px;
    background: white;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}
