*{ color:rgb(0,0,0); }
QFrame{
    border:None;
    background:None;
}
QWidget#page,#page_2,#page_3{
    background-color: qlineargradient(spread:pad, x1:0.006, y1:0, x2:0.955, y2:1, stop:0 rgba(255, 84, 53, 255), stop:1 rgba(26, 255, 250, 255));
    border-radius: 25px;
}
/* css QPushButton */
QPushButton{
    padding:4px;
	border-radius: 5px;
	background-color: rgba(184, 255, 250,0.3);
}
QPushButton:hover{background-color: rgba(184, 255, 250,0.6);}
QPushButton:pressed{background-color: rgba(184, 255, 250,0.2);}
QPushButton#pushButton_3{
    background:None;
    color:rgb(0,0,178);
}
QPushButton#pushButton_3:hover{
    background:rgba(184, 255, 250,0.1);
    color:rgb(0,0,255);
}
QPushButton#pushButton_3:pressed{
    background:rgba(184, 255, 250,0.3);
    color:rgb(0,0,115);
}
/*---------------- QToolButton --------------------*/
QToolButton{
    border:None;
}
QToolButton:hover{
    border-radius:25px;
    background-color: rgba(184, 255, 250,0.3);
}
QToolButton:pressed{
	border-radius:25px;
	background-color: rgba(184, 255, 250,0.6);
}
/*-------------------- QLineEdit ------------------*/
QLineEdit{
    padding:5px;
	font: 12pt "Sans Serif";
	color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgba(184, 255, 250,0.3);
    selection-background-color: darkgray;
}
QComboBox{
	color: rgb(30,30,30);
	border-radius: 10px;
    background-color: rgba(184, 255, 250,0.3);
}
